* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Georgia, serif;
}

h1 {
  overflow: hidden;
  font-family: Georgia, serif;
}

#carouselExample {
  width: 800px;
  height: 400px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
}

.carousel-item {
  min-width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex: 0 0 auto;
}

.carousel-item img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  overflow: auto;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  flex-grow: 1;
}
.card-container .card {
  width: 15rem;
}
.card-container .card .card-img-top {
  cursor: pointer;
}
.card-container .card .btn-primary {
  background-color: #753c1a;
  border-color: #753c1a;
}
.card-container .card .btn-primary:hover {
  background-color: #4b2711;
  border-color: #4b2711;
}

.contenedor-productos {
  margin-top: 100px;
  opacity: 0;
  transition: opacity 3s ease;
}

.contenedor-productos.fade-in {
  opacity: 1;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.head-container {
  width: 100%;
  background-color: #844826;
}
.head-container .navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: transparent;
}
.head-container .navbar .container-fluid {
  display: flex;
  align-items: center;
  width: 100%;
}
.head-container .navbar .navbar-brand .logo {
  width: auto;
  height: 60px;
}
.head-container .navbar .navbar-nav {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}
.head-container .navbar .navbar-nav .nav-link {
  color: #ac6e4a;
  background-color: #6d3818;
  padding: 12px 25px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 20px;
  margin-right: 15px;
  border-bottom: 2px solid transparent;
}
.head-container .navbar .navbar-nav .nav-link:hover {
  color: #361c0c;
  border-bottom: 2px solid #753c1a;
}
.head-container .navbar .busqueda {
  display: flex;
  align-items: center;
}
.head-container .navbar .busqueda .barra-busqueda {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}
.head-container .navbar .busqueda .barra-busqueda input {
  border: none;
  outline: none;
  padding: 5px;
}
.head-container .navbar .busqueda .barra-busqueda button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.head-container .navbar .busqueda .barra-busqueda button .icono-busqueda {
  width: 20px;
  height: 20px;
}

.contenedor-productos {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fila {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  max-width: 1200px;
}

.columna {
  flex: 1 1 300px;
  max-width: 300px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 20px;
  margin: 0 10px;
}
.columna img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.carrito {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.carrito .carrito-compra {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.barra-nav {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.barra-nav .navegacion {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}
.barra-nav .navegacion button {
  background-color: #753c1a;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
  flex-shrink: 1;
  white-space: nowrap;
}
.barra-nav .navegacion button:hover {
  background-color: #5a2e14;
}

.contacto {
  float: right;
  margin-right: 300px;
  margin-top: 25px;
}

.redes-contacto img {
  width: 120px;
  height: 120px;
  display: block;
  background-color: none;
  margin-bottom: 30px;
  cursor: pointer;
}

.footer {
  background-color: #844826;
  padding: 1px;
  border-top: 1px solid #ccc;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.redes-sociales {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.redes-sociales a {
  margin: 0 10px;
}
.redes-sociales a img {
  width: 40px;
  height: 40px;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 100%;
    max-width: 18rem;
  }
  #carouselExample {
    height: 200px;
  }
}
@media (max-width: 576px) {
  #carouselExample {
    width: 100%;
    height: 200px;
  }
  .carousel-item img {
    height: 200px;
  }
  .card {
    width: 100%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  #carouselExample {
    width: 80%;
    height: 250px;
  }
  .carousel-item img {
    height: 250px;
  }
  .card {
    width: 45%;
  }
}
@media (min-width: 576px) {
  .contacto iframe {
    width: 100px;
    position: absolute;
    right: 0;
  }
}
@media (min-width: 768px) {
  .contacto iframe {
    width: 600px;
    position: absolute;
    right: 0;
    margin-right: 30px;
  }
}
@media (min-width: 992px) {
  .contacto iframe {
    width: 800px;
    position: absolute;
    right: 0;
  }
}
@media (min-width: 483.2px) and (max-width: 750.2px) {
  .contacto iframe {
    width: 400px;
    position: absolute;
    right: 0;
  }
}
@media (min-width: 400px) and (max-width: 650px) {
  .contacto iframe {
    width: 300px;
    height: 200px;
    position: absolute;
    right: 0;
  }
}
@media (max-width: 768px) {
  .barra-nav {
    flex-direction: row;
    margin-top: 5px;
  }
  .navegacion {
    flex-direction: row;
  }
  .navegacion button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 0.8rem;
  }
}
@media (max-width: 400px) {
  .barra-nav {
    padding: 10px 0;
    margin-top: 5px;
  }
  .navegacion {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .navegacion button {
    padding: 5px 10px;
    font-size: 0.8rem;
    margin: 2px;
  }
}
@media (max-width: 768px) {
  .carrito {
    top: 150px;
    right: 10px;
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 400px) {
  .carrito {
    top: 200px;
    right: 10px;
    width: 50px;
    height: 50px;
  }
}

/*# sourceMappingURL=main.css.map */
