.barra-nav {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    .navegacion {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      width: 100%;
  
      button {
        background-color: #753c1a;
        color: white;
        border: none;
        padding: 10px 20px;
        margin: 0 5px;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 10px;
        flex-shrink: 1;
        white-space: nowrap;
  
        &:hover {
          background-color: #5a2e14;
        }
      }
    }
  }