.barra-nav {
    display: flex;
    justify-content: center; 
    padding: 20px 0; 
    margin-top: 20px;
    .barra-nav .navegacion button {
        background-color: #753c1a; 
        color: white; 
        border: none; 
        padding: 10px 20px; 
        margin: 0 5px;
        cursor: pointer; 
        .barra-nav .navegacion button:hover {
            background-color: #5a2e14;
        }
    }
}