.contacto{
    float: right;
    margin-right: 300px;
    margin-top: 25px;
}
.redes-contacto img{
    width: 120px;
    height: 120px;
    display: block;
    background-color: none;
    margin-bottom: 30px;
    cursor: pointer;
}