.footer {
    background-color: #844826;
    padding: 1px;
    border-top: 1px solid #ccc; 
    bottom: 0;
    width: 100%;
    margin-top: auto;
  }
  .redes-sociales {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    a {
      margin: 0 10px;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }

