.head-container {
    width: 100%;
    background-color: #844826; 

    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: transparent; 
        .container-fluid {
            display: flex;
            align-items: center;
            width: 100%;
        }
        .navbar-brand {
            .logo {
                width: auto;
                height: 60px; 
            }
        }
        .navbar-nav {
            display: flex;
            flex-direction: row;
            margin-right: auto; 
            .nav-link {
                color: #ac6e4a; 
                background-color: darken(#753c1a, 2%); 
                padding: 12px 25px;
                font-size: 18px;
                text-decoration: none;
                border-radius: 20px; 
                margin-right: 15px; 
                border-bottom: 2px solid transparent; 
                &:hover {
                    color: darken(#753c1a, 15%); 
                    border-bottom: 2px solid #753c1a; 
                }
            }
        }
        .busqueda {
            display: flex;
            align-items: center;
            .barra-busqueda {
                display: flex;
                align-items: center;
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 5px;
                input {
                    border: none;
                    outline: none;
                    padding: 5px;
                }
                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    .icono-busqueda {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}