@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 18rem;
    }

    .barra-nav .navegacion {
        flex-direction: column; 
        align-items: center; 
    }

    .barra-nav .navegacion button {
        margin: 5px 0; 
        width: 100%; 
    }
}