@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 100%;
        max-width: 18rem;
    }
    #carouselExample {
        height: 200px; 
    }
}

@media (max-width: 576px) {
    #carouselExample {
        width: 100%;
        height: 200px; 
    }
    .carousel-item img {
        height: 200px; 
    }
    .card {
        width: 100%; 
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    #carouselExample {
        width: 80%;
        height: 250px; 
    }
    .carousel-item img {
        height: 250px; 
    }
    .card {
        width: 45%; 
    }
}


@media (min-width: 576px) {
    .contacto iframe{
        width: 100px;
        position: absolute;
        right: 0;
    }
}
@media (min-width: 768px) {
    .contacto iframe{
        width: 600px;
        position: absolute; 
        right: 0;
        margin-right: 30px;
    }
}
@media (min-width: 992px) {
    .contacto iframe{
        width: 800px;
        position: absolute;
        right: 0; 
    }
}
@media (min-width: 483.2px) and (max-width: 750.2px) {
      .contacto iframe{
      width: 400px;
      position: absolute;
      right: 0;
      }
}
@media (min-width: 400px) and (max-width: 650px) {
    .contacto iframe {
      width: 300px;
      height: 200px;
      position: absolute;
      right: 0; 
    }
}


@media (max-width: 768px) {
    .barra-nav {
        flex-direction: row; 
        margin-top: 5px;
    }
    .navegacion {
      flex-direction: row; 

      button {
        margin: 5px; 
        padding: 5px 10px; 
        font-size: 0.8rem; 
      }
    }
}

@media (max-width: 400px) {
    .barra-nav {
      padding: 10px 0;
      margin-top: 5px;
    }
    
    .navegacion {
      flex-wrap: nowrap;
      justify-content: center;

      button {
        padding: 5px 10px;
        font-size: 0.8rem; 
        margin: 2px;
      }
    }
}


@media (max-width: 768px) {
    .carrito {
      top: 150px; 
      right: 10px; 
      width: 50px; 
      height: 50px; 
    }
  }
@media (max-width: 400px) {
    .carrito {
      top: 200px; 
      right: 10px; 
      width: 50px; 
      height: 50px; 
    }
}